.loader {
  border: 4px solid rgba(255, 255, 255, 0.3); /* Lighter border for background */
  border-top-color: var(--primary); /* Primary color for the spinner */
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

.loader.small {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

.loader.medium {
  width: 32px;
  height: 32px;
}

.loader.large {
  width: 48px;
  height: 48px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
